InvexPortalSeguridad/WebContent/wsdl/ServiciosPortalImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions name="ServiciosPortalImplService" targetNamespace="http://ws.bmovil.invex.com.mx/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.bmovil.invex.com.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.bmovil.invex.com.mx/" schemaLocation="ServiciosPortalImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSiguienteDiaHabil">
    <part element="tns:getSiguienteDiaHabil" name="parameters"/>
  </message>
  <message name="getSiguienteDiaHabilResponse">
    <part element="tns:getSiguienteDiaHabilResponse" name="parameters"/>
  </message>
  <message name="InvexWSException">
    <part element="tns:InvexWSException" name="fault"/>
  </message>
  <message name="obtenerMovsDosCortesAnteriores">
    <part element="tns:obtenerMovsDosCortesAnteriores" name="parameters"/>
  </message>
  <message name="obtenerMovsDosCortesAnterioresResponse">
    <part element="tns:obtenerMovsDosCortesAnterioresResponse" name="parameters"/>
  </message>
  <message name="obtenerMovsAntesCorte">
    <part element="tns:obtenerMovsAntesCorte" name="parameters"/>
  </message>
  <message name="obtenerMovsAntesCorteResponse">
    <part element="tns:obtenerMovsAntesCorteResponse" name="parameters"/>
  </message>
  <message name="obtenerMovsDespuesCorte">
    <part element="tns:obtenerMovsDespuesCorte" name="parameters"/>
  </message>
  <message name="obtenerMovsDespuesCorteResponse">
    <part element="tns:obtenerMovsDespuesCorteResponse" name="parameters"/>
  </message>
  <message name="getProductosByWebUsr">
    <part element="tns:getProductosByWebUsr" name="parameters"/>
  </message>
  <message name="getProductosByWebUsrResponse">
    <part element="tns:getProductosByWebUsrResponse" name="parameters"/>
  </message>
  <message name="webMovEdoCtaFech">
    <part element="tns:webMovEdoCtaFech" name="parameters"/>
  </message>
  <message name="webMovEdoCtaFechResponse">
    <part element="tns:webMovEdoCtaFechResponse" name="parameters"/>
  </message>
  <portType name="ServiciosPortalImplDelegate">
    <operation name="getSiguienteDiaHabil">
      <input message="tns:getSiguienteDiaHabil"/>
      <output message="tns:getSiguienteDiaHabilResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="obtenerMovsDosCortesAnteriores">
      <input message="tns:obtenerMovsDosCortesAnteriores"/>
      <output message="tns:obtenerMovsDosCortesAnterioresResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="obtenerMovsAntesCorte">
      <input message="tns:obtenerMovsAntesCorte"/>
      <output message="tns:obtenerMovsAntesCorteResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="obtenerMovsDespuesCorte">
      <input message="tns:obtenerMovsDespuesCorte"/>
      <output message="tns:obtenerMovsDespuesCorteResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="getProductosByWebUsr">
      <input message="tns:getProductosByWebUsr"/>
      <output message="tns:getProductosByWebUsrResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="webMovEdoCtaFech">
      <input message="tns:webMovEdoCtaFech"/>
      <output message="tns:webMovEdoCtaFechResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
  </portType>
  <binding name="ServiciosPortalImplPortBinding" type="tns:ServiciosPortalImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getSiguienteDiaHabil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerMovsDosCortesAnteriores">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerMovsAntesCorte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerMovsDespuesCorte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProductosByWebUsr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMovEdoCtaFech">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ServiciosPortalImplService">
    <port binding="tns:ServiciosPortalImplPortBinding" name="ServiciosPortalImplPort">
      <soap:address location="http://localhost:9080/BancaMovilServices/ServiciosPortalImplService"/>
    </port>
  </service>
</definitions>