InvexPortalSeguridad/WebContent/wsdl/ServiciosBancaMovilImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions name="ServiciosBancaMovilImplService" targetNamespace="http://ws.bmovil.invex.com.mx/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.bmovil.invex.com.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.bmovil.invex.com.mx/" schemaLocation="ServiciosBancaMovilImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getMovsByDay">
    <part element="tns:getMovsByDay" name="parameters"/>
  </message>
  <message name="getMovsByDayResponse">
    <part element="tns:getMovsByDayResponse" name="parameters"/>
  </message>
  <message name="InvexWSException">
    <part element="tns:InvexWSException" name="fault"/>
  </message>
  <message name="obtenerMovsAntesCorte">
    <part element="tns:obtenerMovsAntesCorte" name="parameters"/>
  </message>
  <message name="obtenerMovsAntesCorteResponse">
    <part element="tns:obtenerMovsAntesCorteResponse" name="parameters"/>
  </message>
  <message name="obtenerMovsDespuesCorte">
    <part element="tns:obtenerMovsDespuesCorte" name="parameters"/>
  </message>
  <message name="obtenerMovsDespuesCorteResponse">
    <part element="tns:obtenerMovsDespuesCorteResponse" name="parameters"/>
  </message>
  <message name="getProductosByWebUsr">
    <part element="tns:getProductosByWebUsr" name="parameters"/>
  </message>
  <message name="getProductosByWebUsrResponse">
    <part element="tns:getProductosByWebUsrResponse" name="parameters"/>
  </message>
  <message name="getNumLuciByWebUsr">
    <part element="tns:getNumLuciByWebUsr" name="parameters"/>
  </message>
  <message name="getNumLuciByWebUsrResponse">
    <part element="tns:getNumLuciByWebUsrResponse" name="parameters"/>
  </message>
  <message name="getCuentaCBA">
    <part element="tns:getCuentaCBA" name="parameters"/>
  </message>
  <message name="getCuentaCBAResponse">
    <part element="tns:getCuentaCBAResponse" name="parameters"/>
  </message>
  <message name="getPCA">
    <part element="tns:getPCA" name="parameters"/>
  </message>
  <message name="getPCAResponse">
    <part element="tns:getPCAResponse" name="parameters"/>
  </message>
  <portType name="ServiciosBancaMovilImplDelegate">
    <operation name="getMovsByDay">
      <input message="tns:getMovsByDay"/>
      <output message="tns:getMovsByDayResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="obtenerMovsAntesCorte">
      <input message="tns:obtenerMovsAntesCorte"/>
      <output message="tns:obtenerMovsAntesCorteResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="obtenerMovsDespuesCorte">
      <input message="tns:obtenerMovsDespuesCorte"/>
      <output message="tns:obtenerMovsDespuesCorteResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="getProductosByWebUsr">
      <input message="tns:getProductosByWebUsr"/>
      <output message="tns:getProductosByWebUsrResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="getNumLuciByWebUsr">
      <input message="tns:getNumLuciByWebUsr"/>
      <output message="tns:getNumLuciByWebUsrResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="getCuentaCBA">
      <input message="tns:getCuentaCBA"/>
      <output message="tns:getCuentaCBAResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
    <operation name="getPCA">
      <input message="tns:getPCA"/>
      <output message="tns:getPCAResponse"/>
      <fault message="tns:InvexWSException" name="InvexWSException"/>
    </operation>
  </portType>
  <binding name="ServiciosBancaMovilImplPortBinding" type="tns:ServiciosBancaMovilImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getMovsByDay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerMovsAntesCorte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerMovsDespuesCorte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProductosByWebUsr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNumLuciByWebUsr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCuentaCBA">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPCA">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvexWSException">
        <soap:fault name="InvexWSException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ServiciosBancaMovilImplService">
    <port binding="tns:ServiciosBancaMovilImplPortBinding" name="ServiciosBancaMovilImplPort">
      <soap:address location="http://localhost:9080/BancaMovilServices/ServiciosBancaMovilImplService"/>
    </port>
  </service>
</definitions>